:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0px;
  padding: 0px;

  color-scheme: dark light ;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 70vh;
}
div{
  background-color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-inline: auto;
  padding-bottom: 2rem;
  border-radius: 2rem;
  padding-bottom: 0;
  color: black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
  margin: .5rem;
  font-size: 1.5em;
  line-height: 1;
}
.card-container{
  background-color: #8c6ef0;
  padding: 2em;
  margin-inline: auto;
  display: block;
  border-radius: 1em;
  box-shadow: 0 0 5px 2px #fffffffb;
  width: 50%;
  margin-bottom: 2rem;
}
.card{
  background-color: #ffffff;
  color: #242424;
  padding: 1em;
  border-radius: 8px;
  margin-inline: auto;
  box-shadow: 0 0 5px 2px #e2a8fffb;
  cursor: pointer;
  min-height: 13rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 85%;

}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

form button{
  margin-top: 1rem;
  align-items: center;
  margin-inline: auto;
}
button {
  border-radius: 8px;
  border: 2px solid #fcfcfc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 7rem;
  text-align: center;
  margin-right: 1rem;
  margin-top: 2rem;
  
}
button:hover {
  border-color: #5b63ff;
  background-color: #a7abff;
}

.pink{
  background-color: rgb(250, 183, 224);
  min-height: 10rem;
  border-radius: 0;
}
.blue{
  background-color: rgb(128, 191, 255);
  min-height: 10rem;
  border-radius: 0;
}
.purple{
  background-color: #a0a4ff;
  min-height: 10rem;
  border-radius: 0;
}
.green{
  background-color: rgb(170, 237, 170);
  min-height: 10rem;
  border-radius: 0;
}

.correct{
  border: 3px solid rgb(59,184,22);
  background-color: rgb(180, 231, 165);
}
.incorrect{
  border: 3px solid red;
  background-color: rgb(255, 190, 190);
}
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border: #606060 solid 2px
}